{% extends 'App/main/base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{%  static 'App/market/css/market.css' %}">
{% endblock %}
{% block extJS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'App/market/js/market.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="market">
        <aside>
            <ul>
                {% for food_type in food_types %}
                    <li>
                        <a href="{% url 'app:market_with_params' typeid=food_type.typeid childcid=0 order_rule=0 %}">
                            {{ food_type.typename }}
                        </a>
                        {% ifequal food_type.typeid typeid %}
                            <span class="yellowSlide"></span>
                        {% endifequal %}
                    </li>
                {% endfor %}
                
            </ul>
        </aside>
        <section>
            <nav>
            <ul>
                <li id="all_type">
                    <span>全部分类<span id="all_type_logo" class="glyphicon glyphicon-chevron-down"></span></span>
                </li>
                <li id="sort_rule">
                    <span>综合排序<span id="all_sort_logo" class="glyphicon glyphicon-chevron-down"></span></span>
                </li>
            </ul>
        </nav>
            <menu>
                <ul>
                    {% for goods in goods_list %}
                        <li>
                            <a href="#">
                                <img src="{{ goods.productimg }}" alt="{{ goods.productlongname }}">
                            <div class="shoppingInfo">
                                <h6>{{ goods.productlongname }}</h6>
                                <p class="detailTag">
                                    <span>精选</span>
                                    <span></span>
                                </p>
                                <p class="unit">{{ goods.specifics }}</p>
                                <p class="price">
                                    <span>¥{{ goods.price }}</span>
                                    <s>¥{{ goods.marketprice }}</s>
                                </p>
                            </div>
                            </a>
                            <section>
                                <button class="subShopping" goodsid="{{ goods.id }}">-</button>
                                <span>0</span>
                                <button class="addShopping" goodsid="{{ goods.id }}">+</button>
                            </section>
                        </li>
                    {% endfor %}

                </ul>
                <div id="all_type_container">
                    <div>
                        {% for child_type in child_type_list %}
                            <a href="{% url 'app:market_with_params' typeid=typeid childcid=child_type.1 order_rule=0 %}">
                                <span>{{ child_type.0 }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div id="all_sort_conainer">
                    <div>
                        <a href="{% url 'app:market_with_params' typeid=typeid childcid=childcid order_rule='0' %}">
                            <span>综合排序</span>
                        </a>
                        <a href="{% url 'app:market_with_params' typeid=typeid childcid=childcid order_rule='1' %}">
                            <span>价格增序</span>
                        </a>
                        <a href="{% url 'app:market_with_params' typeid=typeid childcid=childcid order_rule='2' %}">
                            <span>价格降序</span>
                        </a>
                        <a href="{% url 'app:market_with_params' typeid=typeid childcid=childcid order_rule='3' %}">
                            <span>销量排序</span>
                        </a>
                    </div>
                </div>
            </menu>
        </section>

    </div>
{% endblock %}